<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-content fullscreen="true" class="ion-padding">
  <div class="page-container">
    <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <path fill="#8295A3" d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z" transform="translate(100 100)" />
    </svg>

    <div class="content-wrapper">
      <div class="back-circle"></div>

      <h1 class="title custom-font">Créez votre {{ formName }}</h1>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <div *ngFor="let field of formFields" class="form-field">
          <input 
            class="input custom-font" 
            [type]="field.type" 
            [formControlName]="field.label.toLowerCase()"
            [placeholder]="field.label"
            [required]="field.required">
        </div>
        
        <div class="submit-container">
          <button class="submit-btn custom-font" type="submit" [disabled]="!form.valid">
            SOUMETTRE
          </button>
        </div>
      </form>

      <ion-spinner *ngIf="isLoading" name="crescent" class="spinner"></ion-spinner>

      <app-pdf-viewer *ngIf="formName === 'cv'" [pdfUrls]="pdfUrls" class="pdf-viewer"></app-pdf-viewer>
    </div>
  </div>
</ion-content>